@use 'base/variables' as v;
@use 'base/mixins' as m;

.benefits {
  background-color: v.$primary;

  .grid-benefits {
    @include m.tablet {
      @include m.grid(5, 4rem);
      align-items: center;
    }
  }

  .content-benefits {
    grid-column: 1/4;

    h2 {
      @include m.headingBorder(v.$secondary, v.$white);
    }
  }

  .image {
    grid-column: 4/6;
    transition: transform 0.3s ease;

    &:hover {
      transform: rotate(8deg) scale(1.1);
    }
  }
}
