@use 'base/variables' as v;
@use 'base/mixins' as m;

.plans {
  background-color: v.$secondary;

  h2 {
    @include m.headingBorder(v.$white, v.$primary);
  }

  .description {
    color: v.$white;
  }
}

.our-plans {
  display: flex;
  flex-direction: column;

  @include m.tablet {
    flex-direction: row;
    max-width: 80rem;
    margin-inline: auto;
    margin-block-start: 10rem;
  }

  .price {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }

  .list {
    li {
      text-align: center;
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .plan {
    flex-grow: 1;
    background-color: v.$white;
    padding: 16rem 4rem 4rem 4rem;
    border-bottom: 1px solid #e1e1e1;

    @include m.tablet {
      border: none;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    &.begin {
      @include m.iconBg('../img/icono_inicio.svg');
    }

    &.business {
      order: -1;
      background-color: v.$primary;
      @include m.iconBg('../img/icono_negocio.svg');

      @include m.tablet {
        padding-top: 21rem;
        order: unset;
        margin: -5rem 0;
        border-radius: 2rem;
        background-position: 50% 7rem;
        z-index: 100;
      }
    }

    &.pro {
      @include m.iconBg('../img/icono_pro.svg');
    }
  }
}
